.project {
  background-color:rgba(0,0,0,0.04);
}

.project .project-header {
  display: flex;
  margin-top: 1vw;
}

.project .project-carousel {
  margin-bottom: 2vw;
}

.project .project-details {
  display: flex;
  flex-direction: column;
}

.project .project-details-buttons {
  margin: 2vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project .project-disclaimer {
  width: 70%;
  margin: .5vw 0;
  line-height: 1.5;
  font-size: 0.6rem;
}
